.block.filter {
    .filter-title {
        background-color: $primary-color;
        color: #fff;
        padding: 10px 15px;
        font-family: $secondary-font-family;

        strong {
            font-size: 15px;
        }
    }

    .block-subtitle {
        font-size: 13px;
    }

    .filter-current {
        .filter-label {
            display: none;
        }
    }

    .action {
        &.remove {
            color: $primary-color;
        }

        &.clear {
            font-weight: bold;
            color: $primary-color;
            font-size: 12px;
        }
    }

    .filter-value {
        font-size: 11px;
        font-weight: bold;
        margin-right: 5px;
    }

    .filter-options {
        .filter-options-title {
            font-size: 16px;
            color: $primary-color;
            padding: 10px 15px 10px 0;
            border-bottom: 1px solid $border-color;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                height: 2px;
                width: 30%;
                background-color: $secondary-color;
            }
        }

        .count {
            margin-left: 5px;
        }
    }

    .filter-options-content {
        .item {
            margin-bottom: 10px;
            display: flex;

            > a {
                color: #212121;
                display: flex;
                align-items: center;
                flex-basis: 100%;
                font-size: 14px;
            }

            input[type="checkbox"] {
                margin: 0 0 0 auto;
                position: static;
                order: 1;
            }
        }
    }

    #layerednav_price_slider {
        background-color: #efefef;
        margin-top: 15px;
        height: 5px;
        cursor: pointer;

        .ui-slider-range {
            background-color: $secondary-color;
            height: 100%;
            position: absolute;
            cursor: pointer;
        }

        .ui-slider-handle {
            background-color: $secondary-color;
            top: -5px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    #layered_ajax_price_attribute {
        width: 100%;

        span {
            font-size: 14px;
        }
    }
}

#layerednav-list-products {
    flex-basis: 100%;

    .toolbar-products {
        border-bottom: 1px solid $border-color;
        padding: 0 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-child {
            border-bottom: 0;
        }
    }

    .toolbar-amount {
        float: none !important;
        padding-top: 0;
        line-height: inherit;
        font-size: 13px;
        margin-right: auto;
    }

    .sorter {
        float: none !important;
        font-size: 13px;
        margin-left: auto;
    }

    .sorter-options {
        background-color: #F2F2F2;
    }

    .pages {
        .items.pages-items {
            > .label {
                height: auto;
                width: auto;
                margin: 0;
                clip: unset;
                position: static;
                text-transform: uppercase;
                font-size: 12px;
            }
        }

        strong {
            &.page {
                color: $primary-color;
            }
        }

        a {
            &.page {
                color: #212121;
            }
        }

        .action {
            border: 0;

            &.previous, &.next {
                &::before {
                    color: $primary-color;
                    font-size: 35px;
                }

                &:hover, &:active, &:focus {
                    &::before {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.category-cms {
    font-size: 15px;
    margin-bottom: 20px;
}

.catalog-category-view {
    .home-brands {
        .container {
            padding: 0;
        }
    }
}

.category-details-custom {
    .category-image {
        margin-bottom: 0;
        height: 155px !important;
        border-radius: 5px 0 0 5px;
        overflow: hidden;
        margin-bottom: 20px;

        img {
            height: 100% !important;
        }
    }

    .category-details-name-desc {
        height: 155px;
        border-radius: 0 5px 5px 0;
        overflow: hidden;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .block.filter {
        flex-basis: 22%;
        margin-right: 3%;
    }

    .category-details-custom {
        flex-basis: 75%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

        .category-image {
            flex-basis: 50%;
            height: auto;
            display: flex;
        }

        .category-details-name-desc {
            flex-basis: 50%;
            background-color: #DDB7E6;
            color: #fff;
            padding: 15px 25px;

            .category-description {
                font-size: 14px;
            }
        }

        .home-products-list {
            display: flex;
            flex-wrap: wrap;

            .home-product {
                flex-basis: 23%;
                margin-right: 2%;
                margin-bottom: 20px;
            }

            .home-product-link {
                height: 40px;
                overflow: hidden;
                display: inline-block;
            }
        }
    }
}

@media (max-width: 767px) {
    .page-wrapper {
        > .container {
            .row {
                margin: 0;
            }
        }
    }

    .page-main {
        padding: 0 15px !important;
    }

    .block.filter {
        width: 100%;
    }

    .mobile-category-details {
        position: relative;
        margin-bottom: 20px;

        .page-title-wrapper {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            background-color: #DDB7E6;
            color: #fff;
            padding: 15px 25px;
        }

        .category-image {
            margin-bottom: 0;
        }
    }

    .category-details-custom {
            flex-basis: 100%;

        .category-image,
        .category-details-name-desc {
            display: none;
        }

        .home-product {
            margin-bottom: 20px;
        }
    }
}