/*=================================
    Footer Styles
=================================*/

.footer.content {
    margin-top: 0;
    border-top-color: $border-color;
    border-bottom: 1px solid $border-color;
    margin-bottom: 50px;

    h6 {
        font-size: 15px;
        font-weight: bold;
        font-family: $secondary-font-family;
        color: $primary-color;
        margin-bottom: 35px;
        height: 18px;
    }

    p {
        margin-bottom: 25px;
        font-size: 13px;
        font-family: $secondary-font-family;

        a {
            color: #212121;

            &:last-child {
                color: $primary-color;
                font-weight: bold;
            }
        }
    }
}

.footer-details-top,
.footer-details-bottom {
    display: flex;
    flex-basis: 100%;
}

.footer-details-top-left,
.footer-details-top-right {
    flex-basis: 50%;
    padding: 50px;
}

.footer-details-top-left {
    border-right: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px 0;
}

.footer-details-top-right {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    li {
        a {
            color: #212121;
            line-height: 25px;
            font-family: $secondary-font-family;
            font-size: 13px;
        }
    }
}

.footer-content-bottom {
    border-top: 1px solid $border-color;
}

.footer-details-bottom {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .header-top-social-right {
        display: flex;
        flex-basis: 5%;

        a {
            color: $primary-color;
            font-size: 25px;
    
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.footer-logos {
    display: flex;
    flex-basis: 90%;
    justify-content: space-between;
    margin-left: auto;

    p {
        flex-basis: 55%;
        font-weight: bold;
        margin-bottom: 0 !important;
        color: $primary-color;
    }
}

.footer-logos-1,
.footer-logos-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 48%;
}

.footer-logos-1 {
    margin-left: auto;
}

.footer-logos-2 {
    margin-right: 0;
}

.footer-logos-1-images {
    flex-wrap: wrap;
}

.footer-logos-1-images,
.footer-logos-2-images {
    display: flex;

    img {
        margin-right: 5px;
        max-width: unset;
    }

    span {
        flex-basis: auto;
        margin-top: 5px;
        font-size: 11px;
    }
}

@media (max-width: 767px) {
    .footer-content-mobile {
        background-color: $border-color;
        color: #fff;
        padding: 30px 15px 50px;

        div[data-role=content] {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 2px solid #fff;
    
            li {
                a {
                    color: #212121;
                    line-height: 25px;
                    font-family: $secondary-font-family;
                    font-size: 13px;
                }
            }
        }
    }

    .footer {
        &.content {
            margin-bottom: 0;

            h6 {
                padding-bottom: 20px !important;
                height: auto;
                border-bottom: 2px solid #fff;
                cursor: pointer;
            }
        }

        p {
            margin-bottom: 25px;
            font-size: 13px;
            font-family: $secondary-font-family;
            color: #212121;
    
            a {
                color: #212121;
    
                &:last-child {
                    color: $primary-color;
                    font-weight: bold;
                }
            }
        }
    }

    .header-top-social-right {
        a {
            color: $primary-color;
    
            &:hover {
                color: $primary-color;
            }
        }
    }

    .footer-logos-1-images,
    .footer-logos-2-images {
        justify-content: center;
        margin-bottom: 10px;
    }

    .footer-logos-1-images,
    .footer-logos-2-images {
        img {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }

        span {
            color: #212121;
        }
    }

    .footer-details-top-left {
        padding: 0 !important;
    }

    .footer-company-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > * {
            flex-basis: 45% !important;
            margin-bottom: 20px !important;
        }

        p {
            font-size: 15px;
        }

        .header-top-social-right {
            display: flex;
            justify-content: flex-end;

            a {
                font-size: 25px;
            }
        }
    }
}