/*=================================
    Main Styles
=================================*/

.navigation, .breadcrumbs, .page-header .header.panel, .footer.content, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container, .page-main {
    max-width: 100%!important;
    width: 100% !important;
    padding: 0 !important;
}

/*=================================
    Top Header Styles
=================================*/

.page-header {
    .panel.wrapper {
        background-color: $primary-color;
        border-bottom: 0;
    }

    .header.panel {
        display: flex;
        align-items: center;
        padding: 10px 20px !important;
    }
}

.header-top-links-left {
    a {
        font-size: 13px;
        letter-spacing: 0.82px;
        line-height: 20px;
        white-space: nowrap;
        color: #fff;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: #fff;
        }
    }
}

.header.panel {
    > .header.links {
        float: none;
    }
}

.my-account-link {
    @extend %fa-icon;
    @extend .far;

    font-size: 13px;
    color: #fff !important;

    &::before {
        content: fa-content($fa-var-user);

        margin-right: 20px;
    }

    &:hover {
        color: #fff;
    }
}

.header-top-social-right {
    a {
        font-size: 17px;
        margin-right: 10px;
        color: #fff;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: #fff;
        }
    }
}

/*=================================
    Middle Header Styles
=================================*/

.header.content {
    display: flex;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 1px solid $border-color;
    max-width: 100% !important;
    width: 100% !important;
}

.logo {
    order: 1;
    margin: 0 30px 0 0 !important;
    float: none;
    max-width: initial;
    color: transparent;
    display: flex;
    flex-direction: column;
    padding: 25px 15px 25px 0;
    border-right: 1px solid $border-color;

    &:hover {
        text-decoration: none;
        color: transparent;
    }

    > span {
        text-transform: uppercase;

        &:first-child {
            color: $small-color;
            font-family: $secondary-font-family;
            font-weight: 600;
            font-size: 22px;
            line-height: 20px;
            white-space: nowrap;
        }

        &:nth-child(2) {
            color: $primary-color;
            font-family: $secondary-font-family;
            font-weight: 600;
            font-size: 22px;
            line-height: 20px;
            white-space: nowrap;

            > span {
                &:first-child {
                    position: relative;
                    margin-right: 5px;

                    &::after {
                        content: '.';
                        position: absolute;
                        top: -1px;
                        right: -10px;
                    }
                }
            }
        }

        &:last-child {
            color: $small-color;
            font-weight: bold;
            font-size: 10px;
            line-height: 10px;
            margin-left: 3px;
        }
    }
}

.header-details {
    order: 3;
    display: flex;
    align-items: center;

    .header-detail {
        display: flex;
        align-items: center;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        i {
            color: $primary-color;
            margin-right: 15px;
            font-size: 20px;
        }
    }

    .header-detail-content {
        p {
            margin-bottom: 0;
            color: $primary-color;
            font-family: $primary-font-family;
            font-size: 15px;
            letter-spacing: .9px;
            font-style: normal;
            font-weight: 700;
            line-height: 23px;
            white-space: nowrap;
        }

        span {
            line-height: 23px;
            white-space: nowrap;
            font-family: $secondary-font-family;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
        }
    }
}

/*=================================
    Minicart Styles
=================================*/

.minicart-wrapper {
    order: 4;
    margin-left: 88px !important;
    padding: 25px 10px 15px 20px;
    border-left: 1px solid $border-color;
    float: none;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
        .block-minicart {
            padding-top: 0;
        }
    }

    .block-minicart {
        &::before, &::after {
            border-color: transparent transparent $secondary-color transparent;
        }

        .block-title {
            display: block;
            background-color: #9ad34d;
            margin: 0 -20px;

            strong {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-family: $primary-font-family;
                font-size: 19px;
                font-style: normal;
                font-weight: bold;
                line-height: 20px;
                padding: 10px;

                .text, .count {
                    margin-right: 5px;
                }
            }
        }

        .minicart-items-wrapper {
            border: 0 !important;
        }

        .subtotal {
            text-align: unset;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #D5D5D5;
            padding-top: 10px;
            margin: 0;

            .label {
                span {
                    color: #212121;
                    font-family: $primary-font-family;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 23px;
                    white-space: nowrap;
                }
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        color: $primary-color;
                        font-family: $primary-font-family;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 30px;
                        white-space: nowrap;
                    }
                }
            }
        }

        .block-content {
            >.actions {
                .action.viewcart {
                    background-color: $primary-color;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border-radius: 25px;
                    font-size: 16px;
                    font-weight: 700;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .action.showcart {
        position: relative;

        &::before {
            color: $primary-color;
        }

        &:hover {
            &::before {
                color: $primary-color;
            }
        }

        .counter.qty {
            background-color: $secondary-color;
            height: 15px;
            line-height: 15px;
            border-radius: 50%;
            min-width: auto;
            width: 15px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .product-item-pricing {
        display: flex;
    }

    .price-container {
        margin-right: 15px;
    }

    .minicart-items {
        .product-item {
            position: relative;
        }

        .product-item-name {
            a {
                color: #212121;
                font-family: $primary-font-family;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
            }
        }

        .product-item-details {
            .details-qty {
                margin-top: 0 !important;
            }

            .price-excluding-tax {
                margin-top: 0;
            }

            .price {
                color: $primary-color;
            }
        }

        .action.delete {
            font-family: 'Font Awesome 6 Pro' !important;
            position: absolute;
            right: 10px;
            top: 8px;

            &::before {
                font-family: 'Font Awesome 6 Pro';
                content: "\f057";
                color: #ff6b34;
                font-size: 19px;
                line-height: 19px;
            }
        }

        .action.edit {
            font-family: 'Font Awesome 6 Pro' !important;

            &::before {
                font-family: 'Font Awesome 6 Pro';
                content: "\f021";
                font-size: 19px;
                line-height: 19px;
                color: $primary-color;
            }
        }
    }

    .product {
        .actions {
            float: none;
            margin: 0;
            text-align: unset;
        }
    }
}

/*=================================
    Search Styles
=================================*/

.block-search {
    order: 2;
    float: none !important;
    margin-right: 20px;
    padding-left: 0 !important;
    width: 27% !important;

    input {
        background-color: #efefef;
        border: 0;
        border-radius: 5px;
        height: 47px;

        &::placeholder {
            color: initial;
        }
    }

    .control {
        padding-bottom: 0 !important;
    }

    .action.search {
        border-radius: 0 5px 5px 0;
        background-color: #4589CD !important;
        opacity: 1 !important;
        right: 0 !important;
        width: 55px;
        height: 47px;

        &:hover {
            border-radius: 0 5px 5px 0;
            background-color: #4589CD !important;
            opacity: 1 !important;
            right: 0 !important;

            &::before {
                color: #fff !important;
                font-size: 32px !important;
            }
        }

        &::before {
            color: #fff !important;
            font-size: 32px !important
        }
    }
}