/*=================================
    Banner Styles
=================================*/

.home-banner-wrapper {
    height: 570px;
    overflow: hidden;
    margin-bottom: 50px !important;

    .home-banner-slide {
        position: relative;
        margin: 0 17px;

        &.slide-01 {
            background-color: #F7AA5E;

            .slide-content {
                width: 48%;
            }

            h3 {
                span {
                    display: inline-block;
                    border: 2px dashed #fff;
                    padding: 5px 20px;
                    margin: 10px 0 10px 30px;
                    color: $primary-color;
                }
            }
        }

        &.slide-02 {
            .slide-content {
                width: 29%;

                h3 {
                    margin-bottom: 50px;
                }
            }
        }

        &.slide-03 {
            .slide-content {
                width: 35.5%;

                h3 {
                    margin-bottom: 50px;
                }
            }
        }

        .slide-overlay {
            img {
                width: 100%;
            }
        }
    }

    .slide-content {
        position: absolute;
        top: 80px;
        left: 90px;
        font-family: $primary-font-family;

        h2 {
            line-height: 50px;
            color: $primary-color;
            font-size: 40px;
            margin-bottom: 20px;
        }

        h3 {
            line-height: 35px;
            color: #fff;
            font-size: 25px;
        }

        a {
            background-color: $primary-color;
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 240px;
            letter-spacing: .88px;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            transition: background-color .3s ease-in-out;

            &:hover {
                text-decoration: none;
                background-color: $secondary-color;
            }
        }
    }

    .slick-dots {
        width: auto !important;
        bottom: 45px !important;
        left: 300px;

        li {
            margin: 0 1px !important;

            button {
                &::before {
                    font-size: 10px;
                    color: #fff;
                }
            }

            &.slick-active {
                button {
                    &::before {
                        color: #fff;
                    }
                }
            }
        }
    }
}

/*=================================
    Features Styles
=================================*/

.home-features-wrapper {
    margin-bottom: 40px;

    h4 {
        font-size: 23px;
        font-family: $secondary-font-family;
        margin-bottom: 50px;
        text-align: center;
    }

    .home-feature {
        display: flex;
        align-items: center;
    }

    .home-feature-icon {
        background-color: $secondary-color;
        margin-right: 10px;
        border-radius: 50%;
        width: 67px;
        height: 67px;
        padding: 21px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            color: #fff;
            font-size: 30px;
        }
    }

    .home-feature-content {
        h5 {
            font-size: 24px;
            font-family: $primary-font-family;
            margin-bottom: 15px;
            color: $primary-color;
            height: 28px;
            overflow: hidden;
        }

        p {
            font-size: 15px;
            font-family: $secondary-font-family;
            margin-bottom: 0;
            height: 44px;
            overflow: hidden;
        }
    }
}

/*=================================
    Home Products Styles
=================================*/

.heading-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;
    padding-bottom: 20px;

    > span {
        &:first-child {
            font-size: 30px;
            font-family: $primary-font-family;
            color: $primary-color;
            position: relative;
            
            &::after {
                content: '';
                position: absolute;
                bottom: -20px;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: $secondary-color;
            }

            a {
                color: $primary-color;
                text-decoration: none;

                &:hover {
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }

        &:last-child {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }

            span {
                font-family: $secondary-font-family;
                color: #212121;
                font-size: 12px;
                font-weight: bold;
                margin-right: 15px;
            }

            i {
                font-weight: bold;
                color: $secondary-color;
            }
        }
    }
}

.home-products-wrapper {
    h2 {
        margin-bottom: 40px;
    }

    .home-products-list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
            flex-basis: 17%;
            margin-right: 3%;
            margin-bottom: 60px;
        }
    }
}

.home-product-details {
    text-align: center;

    .home-product-link {
        display: block;
        font-size: 13px;
        color: #212121;
        font-family: $secondary-font-family;
        margin-bottom: 10px;

        &:hover {
            text-decoration: none;
        }
    }

    .home-product-description {
        font-size: 13px;
        font-family: $secondary-font-family;
        color: #212121;
        line-height: 20px;
        margin-bottom: 20px;

        p {
            margin-bottom: 0;
        }
    }

    .button-details {
        display: block;
        color: #fff;
        background-color: $primary-color;
        padding: 12px 20px;
        font-size: 13px;
        font-weight: 700;
        margin-top: auto;
        border-radius: 20px;
        transition: background-color .3s ease-in-out;

        &:hover {
            text-decoration: none;
            background-color: $secondary-color;
        }
    }

    .price-box {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .price {
            color: $primary-color;
            font-family: $secondary-font-family;
            font-weight: bold;
            font-size: 18px;
            margin-right: 20px;
        }

        .old-price {
            .price {
                color: #212121;
                font-weight: normal;
                margin-right: 0;
            }
        }
    }
}

.home-product-info {
    position: relative;
    text-align: center;

    .salebox {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        font-size: 13px;
        font-family: $secondary-font-family;
        padding: 7px 10px;
        color: #fff;
        background-color: #FF6B34;
    }
}

/*=================================
    Home Blocks Styles
=================================*/

.home-blocks-wrapper {
    margin-bottom: 70px;
}

.home-block {
    position: relative;
}

.home-block-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    font-family: $primary-font-family;
    padding: 20px 0;

    h5 {
        font-size: 20px;
    }
}

/*=================================
    Home Blog and Newsletter Styles
=================================*/

.home-blog-newsletter-wrapper {
    margin-bottom: 45px;
}

.home-blog-wrapper {
    display: flex;
}

.home-blog-content {
    padding: 45px;
    flex-basis: 50%;
    border: 1px solid $border-color;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    display: flex;
    flex-direction: column;

    h4 {
        font-size: 30px;
        font-family: $primary-font-family;
        color: $primary-color;
        margin-bottom: 25px;
    }

    h5 {
        font-size: 17px;
        font-family: $secondary-font-family;
        color: $primary-color;
        font-weight: bold;
        margin-bottom: 30px;
    }

    p {
        font-size: 13px;
        font-family: $secondary-font-family;
    }

    a {
        color: #fff;
        background-color: $primary-color;
        padding: 12px 20px;
        font-size: 13px;
        font-weight: bold;
        font-family: $secondary-font-family;
        margin-top: auto;
        border-radius: 20px;
        width: 180px;
        text-align: center;
        transition: background-color .3s ease-in-out;

        &:hover {
            color: #fff;
            background-color: $secondary-color;
            text-decoration: none;
        }
    }
}

.home-blog-img {
    flex-basis: 50%;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}

.block.newsletter {
    width: 100% !important;
    padding: 45px;
    background-color: $primary-color;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .title {
        display: block;

        strong {
            font-size: 30px !important;
            font-family: $primary-font-family;
            font-weight: normal;
            margin-bottom: 20px;
            margin-top: 0;
            display: block;
        }
    }

    > p {
        font-size: 15px;
        font-family: $secondary-font-family;
        font-weight: bold;
    }

    .form.subscribe {
        display: flex;
        flex-direction: column;
    }

    .field {
       .control {
           &::before {
               display: none;
           }
       }
    }

    .label {
        clip: unset;
        margin: 0;
        height: auto;
        width: auto;
        position: static;
        display: block;
        font-size: 14px;
        font-family: $secondary-font-family;
        margin-bottom: 5px;
    }

    input {
        padding-left: 9px;
        border-radius: 5px;
    }

    .control {
        margin-bottom: 5px;

        > label {
            width: 100%;
            
            font-size: 14px;
            font-family: $secondary-font-family;
            
            a {
                color: #fff;
                font-size: 14px;
                font-family: $secondary-font-family;

                &:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    .checkbox-control {
        width: 100%;

        font-size: 14px;
        font-family: $secondary-font-family;
        
        a {
            color: #fff;
            font-size: 14px;
            font-family: $secondary-font-family;

            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .action.subscribe {
        color: #fff;
        background-color: $secondary-color;
        padding: 12px 20px;
        font-size: 13px;
        font-weight: bold;
        font-family: $secondary-font-family;
        margin-top: auto;
        border-radius: 20px !important;
        width: 180px;
        text-align: center;
        border: 0;

        &:hover {
            color: #fff;
            background-color: $secondary-color;
            text-decoration: none;
        }
    }
}

/*=================================
    Home Brands Styles
=================================*/

.home-brands {
    h2 {
        margin-bottom: 40px;
    }

    .brands {
        display: flex;
        align-items: center;
        margin-bottom: 60px;

        .brand {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .forum {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        .forum-1 {
            display: flex;
            flex-basis: 49%;
            border-radius: 5px;
            overflow: hidden;

            h4 {
                flex-basis: 33%;
                color: #fff;
                background-color: $primary-color;
                padding: 30px;
                font-size: 25px;
                font-family: $primary-font-family;
                margin-bottom: 0;
            }

            img {
                flex-basis: 67%;
                width: 67%;
            }
        }

        .forum-2 {
            display: flex;
            flex-basis: 49%;
            flex-wrap: wrap;
            border-radius: 5px;
            overflow: hidden;
            color: #fff;
            background-color: $primary-color;
            padding: 30px 70px;

            h4 {
                font-size: 25px;
                font-family: $primary-font-family;
                margin-bottom: 30px;
                flex-basis: 100%;
            }

            h6 {
                font-size: 17px;
                font-weight: bold;
                font-family: $secondary-font-family;
                flex-basis: 67%;
            }

            .header-top-social-right {
                margin-left: auto;

                a {
                    font-size: 30px;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

/* Responsive Styles */

@media (max-width: 767px) {
    .home-banner-wrapper {
        height: auto;
        overflow: visible;

        .home-banner-slide {
            margin: 0;

            &.slide-01 {
                .slide-content {
                    width: 80%;

                    h3 span {
                        margin: 5px 0 5px 30px;
                        border: 1px dashed #fff;
                        padding: 3px 15px;
                    }
                }
            }

            &.slide-02, &.slide-03 {
                .slide-content {
                    width: 45%;
                }
            }
        }

        .slick-dots {
            left: 0;
            right: 0;
            bottom: -27px !important;

            li {
                &.slick-active{
                    button {
                        &::before {
                            color: grey;
                        }
                    }
                }

                button {
                    &::before {
                        color: grey;
                    }
                }
            }
        }

        .slide-content {
            left: 20px;
            top: 50px;

            h2 {
                line-height: 15px;
                font-size: 20px;
                margin-bottom: 10px;
            }

            h3 {
                line-height: 17px;
                font-size: 15px;
                margin-bottom: 10px;
            }

            a {
                height: 30px;
                width: 120px;
                font-size: 11px;
            }
        }
    }

    .home-blocks-wrapper {
        margin-bottom: 30px;
    }

    .home-block {
        margin-bottom: 20px;
    }

    .home-blog-wrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .home-blog-content {
        border-right: 1px solid $border-color;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
    }

    .home-blog-img {
        border-radius: 0 0 5px 5px;
    }

    .home-brands {
        .forum {
            flex-direction: column;
            margin-bottom: 20px;

            .forum-1 {
                flex-direction: column;
                position: relative;
                margin-bottom: 20px;

                h4 {
                    order: 2;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 20px 80px;
                    font-size: 20px;
                    text-align: center;
                }

                img {
                    order: 1;
                    flex-basis: 100%;
                    width: 100%;
                }
            }

            .forum-2 {
                padding: 20px 30px;

                h4 {
                    font-size: 20px;
                    order: 1;
                    flex-basis: 75%;
                }

                h6 {
                    order: 3;
                    flex-basis: 100%;
                    font-size: 14px;
                }

                .header-top-social-right {
                    order: 2;
                    flex-basis: 25%;
                }
            }
        }
    }
}