
.nav-sections {
    background-color: transparent !important;
    transition: all .3s ease-in-out;

    &._sticky {
        position: fixed;
        z-index: 4;
        background-color: #fff !important;
        width: 100%;
        transition: all .3s ease-in-out;
    }
}

.navigation {
    background-color: transparent !important;
    border-bottom: 1px solid $border-color;
}

.menu {
    >ul {
        >li {
            background-color: transparent;

            &:hover {
                background-color: transparent;

                > a {
                    span {
                        border-bottom-color: $secondary-color;
                    }
                }
            }

            > a {
                color: #212121;
                padding: 6px 18px;

                span {
                    display: block;
                    padding: 6px 0;
                    border-bottom: 2px solid transparent;
                }
            }
            
            >ul {
                padding: 0;
                background-color: #D5D5D5;

                >li {
                    border-right: 2px solid #fff;
                    padding: 20px;
                    
                    >a {
                        color: $primary-color;
                        border-bottom: 0;
                        font-size: 14px;
                        font-weight: bold !important;
                        font-family: $primary-font-family;
                    }

                    >ul {
                        >li {
                            padding: 3px 0;
                            font-size: .9em;
                        }
                    }
                }
            }
        }
    }
}

/* Responsive Styles */
.nav-toggle {
    order: 0;
    position: static;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;

    &:hover {
        &::before {
            color: $primary-color;
        }
    }

    &::before {
        color: $primary-color;
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .nav-sections-items {
        display: flex;
        flex-direction: column;
    }

    .section-item-title.nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        padding: 0 !important;
    }

    .section-item-content.nav-sections-item-content {
        display: block !important;
        margin-top: 0;
        margin-left: 0;

        &#store\.menu {
            order: 2;
        }

        &#store\.links {
            order: 1;
        }
    }
    
    .nav-sections {
        .header.links {
            li {
                &.compare, &.welcome {
                    display: none;
                }

                > a {
                    &.my-account-link {
                        font-size: 13px;
                        background-color: $primary-color;
                        text-align: center;
                        padding: 14px 0;
                    }
                }
            }
        }
    }

    .navigation {
        background-color: #D5D5D5 !important;

        .submenu {
            &:not(:first-child) {
                >li {
                    >a {
                        padding-left: 30px;
                    }
                }
            }

            i {
                font-weight: bold;
                font-size: 10px;
                position: relative;
                left: -10px;
            }
        }

        .level0 {
            border-top: 0;
            padding: 0 15px;

            &.first {
                a {
                    border-top: 0;
                }
            }
        }

        a, a:hover {
            color: $primary-color;
            border-top: 2px solid #fff;
        }
    }
}