/*=================================
    Importing Libraries
=================================*/

@import "lib/fa/fontawesome.scss";
@import "lib/fa/solid.scss";
@import "lib/fa/regular.scss";
@import "lib/fa/brands.scss";
@import "lib/fa/light.scss";

@import "lib/slick/slick.scss";
@import "lib/slick/slick-theme.scss";

/*=================================
    Importing Variables and Layouts 
=================================*/

@import "tools/variables.scss";

@import "layout/header.scss";
@import "layout/navigation.scss";
@import "layout/home.scss";
@import "layout/footer.scss";
@import "layout/catalog-category.scss";